<!-- views/template.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>
	</head>
	<body>
		<header>
			<h1>Welcome to my website</h1>
		</header>
		<main>
			<p><%= message %></p>
			<ul>
				<% for(let item of items) { %>
				<li><%= item %></li>
				<% } %>
			</ul>
		</main>
	</body>
</html>
