#parent {
	display: flex;
	flex-direction: column;
	padding: 2.5em;
	align-items: center;
	flex: 1;
}

#parent #header {
	width: 100vw;
	padding: 2.5em;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
#body {
	padding: 5em;
	display: flex;
}

#parent #body {
	display: flex;
	margin: 1em;
	background-color: #313539;
	flex: 1;
	width: 75vw;
	align-items: center;
	justify-content: center;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-ms-border-radius: 1vw;
	-o-border-radius: 1vw;
	box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
}

#parent #body #itmList {
	justify-content: space-between;
	list-style-type: none;
	margin: 1em;
	display: flex;
	flex-direction: column;
}

#parent #body #itmList .progBtn {
	margin: 0.5em;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	width: 50vw;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	color: #7ebab5;
}
.inpLabel {
	color: #7ebab5;
	font-weight: 600;
}
.inpForm {
	background-color: #212529;
	border: none;
	color: #f6f5f5;
	border-radius: 0.33em;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-ms-border-radius: 0.33em;
	-o-border-radius: 0.33em;
}

.modal {
	display: none; /* Hidden by default */
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	align-items: center;
	justify-content: center;
	align-self: center;
}

#addForm {
	flex: 3;
	padding: 3em;
	overflow: auto;
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	max-width: 600px;
	height: 75%;
	width: 100vw;

	align-items: flex-start;
	justify-content: space-evenly; /* Spaces children evenly along the column */

	max-width: 62.5vw; /* Optional: restricts the maximum width */
	padding: 1em; /* Optional: adds some space around the edges */
}
.formDiv {
	margin: 0.5em;
}

/* Change the grid layout for viewports 600px and up */
@media (min-width: 600px) {
	#addForm {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	}
}

/* Change the grid layout for viewports 900px and up */
@media (min-width: 900px) {
	#addForm {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
.inpForm::placeholder {
	color: #515559;
}
#images {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #212529;
	color: #f00;
}
.radioBtn {
	background-color: #212529;
	color: #212529;
}
