#parent {
	display: flex;
	flex-direction: column;
	padding: 2.5em;
	align-items: center;
	height: 100vh;
}

#parent #header {
	width: 100vw;
	padding: 2.5em;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#parent #body {
	display: flex;
	margin: 1em;
	background-color: #313539;

	width: 75vw;
	height: 50vh;
	align-items: center;
	justify-content: center;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-ms-border-radius: 1vw;
	-o-border-radius: 1vw;
	box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);
}

#parent #body #itmList {
	justify-content: space-between;
	list-style-type: none;
	margin: 1em;
	display: flex;
	flex-direction: column;
}

#parent #body #itmList .progBtn {
	margin: 0.5em;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	width: 50vw;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	color: #7ebab5;
}
.inpLabel {
	color: #7ebab5;
	font-weight: 600;
}
.inpForm {
	background-color: #212529;
	border: none;
	border-radius: 0.33em;
	box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0.33em;
	-moz-border-radius: 0.33em;
	-ms-border-radius: 0.33em;
	-o-border-radius: 0.33em;
}
.addContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#addForm {
	display: grid;
	grid: 1fr / 1fr 1fr;
	height: 75%;
	align-items: flex-start;
	justify-content: space-evenly; /* Spaces children evenly along the column */
	background-color: red;
	max-width: 600px; /* Optional: restricts the maximum width */
	padding: 1em; /* Optional: adds some space around the edges */
}
